body {
	font-family: arial, sans-serif;
	background: aqua;
	margin: 20 30px;
}
h1 {
	color: blue;
}
p {
	border-style: solid;
	border-color: red;
	border-width: 5px;
	border-top: 50;
}
.web {
	border-style: solid;
	border-color: aqua;
	border-width: 5px;
	align-items: : center;
	border-style: dashed;
	float: top;
}
#left {
	font-size: 12;
	align-items: left;
	padding: 30px;
	align-items: : left;
	list-style-type: lower-roman;

}
#right {
	font-size: 12;
	align-items: right;
	padding: 30px;
	align-items: : right;
	list-style-type: lower-roman;
}
#first {
	font-family: monospace;
	float: left;
}
#second {
	color: green;
	float: right;
}
.morespace {
	margin-left: 20px;
	margin-right: 20px;
}
div.makeit {
	padding: 10%;
	background-color: lime;
	border-style: solid;
	border-color: brown;
}
div p {
	border-style: solid;
	border-color: green;
	border-width: 5px;
}
a {
	color: green;
	background-color: lightgray;
	text-decoration: none;
}

footer {
	text-overflow: center;
}